<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/screenartlogo.png" height="35" alt="screen art logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" routerLink="/order-detail" routerLinkActive="active">Create Order</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/show-orders" routerLinkActive="active">Show Orders</a>
        </li>
        
      </ul>
        <button class="btn btn-outline-info my-2 my-sm-0" (click)="logout()" *ngIf="isLoggedIn">Logout</button>
    </div>
  </nav>
